/* -----------------------------------------------------------------------------

# Hover Styles

----------------------------------------------------------------------------- */
a.navbar-brand {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

a.navbar-brand:hover {
    opacity: 0.7;
}

a.boxed-btn {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

a.boxed-btn:hover {
    background-color: #051922;
    color: #F28123;
}

a.bordered-btn {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

a.bordered-btn:hover {
    background-color: #F28123;
    color: #fff;
}

ul.sub-menu a {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

ul.sub-menu li:hover a {
    color: #F28123;
}

.single-tof-box {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.single-tof-box:hover {
    -webkit-box-shadow: 0 0 80px #353535;
    box-shadow: 0 0 80px #353535;
}

a.video-play-btn {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

a.video-play-btn:hover {
    background-color: #333;
    color: #F28123;
}

.latest-news-bg {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.single-latest-news:hover .latest-news-bg {
    opacity: 0.8;
}

a.tof-btn {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

a.tof-btn i {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

a.tof-btn:hover {
    color: #F28123;
}

a.tof-btn:hover i {
    margin-left: 10px;
}

.single-latest-news {
    -webkit-box-shadow: 0 0 20px #dddddd;
    box-shadow: 0 0 20px #dddddd;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.single-latest-news:hover {
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.single-logo-item {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.single-logo-item:hover {
    opacity: 0.7;
}

.footer-box.pages ul li a {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.footer-box.pages ul li:hover a {
    color: #F28123;
}

.footer-box.subscribe form button {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.footer-box.subscribe form button:hover {
    background-color: #F28123;
    color: #051922;
}

.social-icons ul li:hover a {
    color: #F28123;
}

.social-icons ul li a {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

ul.social-link-team li a {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

ul.social-link-team li a:hover {
    background-color: #051922;
    color: #F28123;
}

.counter-box {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.counter-box:hover {
    -webkit-box-shadow: 0 0 80px #6f6f6f;
    box-shadow: 0 0 80px #6f6f6f;
}

input[type="submit"] {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-radius: 50px !important;
}

input[type="submit"]:hover {
    background-color: #051922;
    color: #F28123;
}

div.owl-controls,
.owl-controls div {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

div.owl-controls div.owl-nav div:hover {
    opacity: 0.7;
}

.pagination-wrap ul li a {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.pagination-wrap ul li:hover a {
    background-color: #F28123;
}

.icons a i {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.icons a:hover i {
    color: #F28123;
}

.tof-text a.tof-btn {
    margin-top: 15px;
    display: inline-block;
}

.single-pricing-table {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.single-pricing-table:hover {
    -webkit-box-shadow: 0 0 20px #ddd;
    box-shadow: 0 0 20px #ddd;
}

.product-image img {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.product-image img:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

a.cart-btn {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

a.cart-btn:hover {
    background-color: #051922;
    color: #F28123;
}

.recent-posts ul li {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.recent-posts ul li:hover {
    opacity: 0.7;
}

ul.sub-menu li a {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

ul.sub-menu li:hover a {
    color: #F28123 !important;
}

.sidebar-section ul li a {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.sidebar-section ul li a:hover {
    opacity: 0.7;
}

.comment-text-body h4 a {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.comment-text-body h4 a:hover {
    color: #F28123;
}

ul.product-share li a {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

ul.product-share li:hover a {
    color: #F28123;
}

.service-menu ul li a {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.service-menu ul li a.active {
    font-weight: 600;
    color: #ffe200;
}

.service-menu ul li a:hover {
    color: #ffe200;
}

.single-product-item {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.single-product-item:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.search-bar-tablecell button[type=submit] {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.search-bar-tablecell button[type=submit]:hover {
    background-color: #fff;
    color: #000;
}

span.close-btn {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

span.close-btn:hover {
    color: #fff;
}

a.mobile-show.search-bar-icon {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

a.mobile-show.search-bar-icon:hover {
    color: #F28123;
}